/* ------------------------------ */
/* Header */
/* ------------------------------ */
.svg-icon {
  width: 5rem;
}

.main-header {
  display: flex;

  /* Content flexbox position */
  justify-content: space-between;
  align-items: center;

  /* Inheritance */
  font-size: 6.2rem;

  /* Container  */
  padding: 3.2rem;
  width: 100%;
  background-color: #854d0e;
}
.header-container img {
  max-height: 50px; /* Adjust the height as needed */
  width: auto; /* Preserve aspect ratio */
}
.header-container {
  display: flex;

  /* Positioning */
  align-items: center;
  gap: 2.4rem;
  /* Container */
  padding: 1.2rem;
  color: #fff;
}

.main-nav {
  display: flex;

  /* Positioning */
  gap: 4.8rem;

  font-size: 3rem;

  /* Container */
  align-items: center;
}

.main-nav a:-webkit-any-link {
  text-decoration: none;
  color: #fff;
}

/* Emphasis on contact button */
.main-nav a:-webkit-any-link:last-child {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  background-color: #0ca678;
  border-radius: 1rem;
}
/* ------------------------------ */
/* Posts Section
  /* ------------------------------ */
.posts-section {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin: 0 auto;
}
.post {
  height: 20rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
/* ------------------------------ */
/* Footer Section */
/* ------------------------------ */
.footer {
  background: #854d0e;
  color: #fff;
  padding: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Keeps the footer at the bottom */
  margin-top: auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3.2rem;
  text-decoration: none;
}
.footer-links a {
  color: #fff;
}
