/* ------------------------------ */
/* Posts Section
  /* ------------------------------ */
.posts-section {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin: 3.2rem auto;
}
.post {
  height: 15rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.post-header {
  display: flex;
}
