.pdf-container {
  margin: 0 auto;
}
.pdf-link {
  display: inline-block;
}
button {
  background-color: #1971c2;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  align-self: center;
}
