/* 
--- Typography

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


---Colors
main: #854d0e
secondary: #343a40, #555;
accent: #0ca678
tint
shade:


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* ------------------------------ */
/* General*/
/* ------------------------------ */
/* Global CSS variables */
:root {
  --main-bg-color: #854d0e;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting 1 rem = 10px */
html {
  font-size: 62.5%;
}

/* Setting fefaults */
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #343a40;
  font-size: 2rem;
  overflow-x: hidden;
}

.home-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 3.6rem;
}

a {
  text-decoration: none;
  color: #343a40;
}

/* ------------------------------ */
/* Header */
/* ------------------------------ */
.svg-icon {
  width: 5rem;
}

.main-header {
  display: flex;

  /* Content flexbox position */
  justify-content: space-between;
  align-items: center;

  /* Inheritance */
  font-size: 6.2rem;

  /* Container  */
  padding: 3.2rem;
  width: 100%;
  background-color: #854d0e;
}
.header-container img {
  max-height: 50px; /* Adjust the height as needed */
  width: auto; /* Preserve aspect ratio */
}
.header-container {
  display: flex;

  /* Positioning */
  align-items: center;
  gap: 2.4rem;
  /* Container */
  padding: 1.2rem;
  color: #fff;
}

.main-nav {
  display: flex;

  /* Positioning */
  gap: 4.8rem;

  font-size: 3rem;

  /* Container */
  align-items: center;
}

.main-nav a:-webkit-any-link {
  text-decoration: none;
  color: #fff;
}

/* Emphasis on contact button */
.main-nav a:-webkit-any-link:last-child {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  background-color: #0ca678;
  border-radius: 1rem;
}
/* ------------------------------ */
/* Posts Section
/* ------------------------------ */
.posts-section {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin: 0 auto;
}
.post {
  height: 20rem;
}
/* ------------------------------ */
/* Footer Section */
/* ------------------------------ */
.footer {
  background: #854d0e;
  color: #fff;
  padding: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Keeps the footer at the bottom */
  margin-top: auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3.2rem;
  text-decoration: none;
}
.footer-links a {
  color: #fff;
}
